body{
	font: normal 16px Calibri;
	margin:15px;
	padding:0px 5px 0px 5px;
	background-color: #A8A9CB;
}
h1{
	font: normal Calibri;
	border-bottom: 5px double black;
	padding-bottom: 0px;
	margin:0px 0px 5px 0px;

}
h3{
	color:#fff;
	border-bottom:	2px #000 solid;
	border-top:	2px #000 solid;
	margin:4px 0px 4px 0px;
	text-shadow:2px 2px #505173;
}
p{
	margin:2px;
}
ul{
	list-style-type: square;
	margin-top: 5px;
}
dl{
	margin-top:5px;
}
dt{
	color:#fff;
	text-shadow: 2px 2px #989898;
}
button{
	height:45px;
	margin-left: 38%;
	margin-bottom: 20px;
	margin-top: 20px;
	border:2px white solid;
	border-radius: 10px;
	text-align: center;
	color:white;
	font:bold 20px Calibri;
	text-shadow:1px 1px red;
	background-color: #595AB3;
	cursor: pointer;
	display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  animation: popup 2s ease infinite;
  -webkit-animation: popup 2s ease infinite;
}
form{
	max-width: 300px;
	min-width: 250px;
	margin-left:13%;
	margin-bottom: 5%;
	margin-top: -10px;
}
textarea{
	width: 80%;
	height: 95px;
	margin-bottom: 10px;
	resize:none;
}
.address{
	float: left;
	width:50%;
}

.container{
	width: 60%;
	margin:auto;
	border:2px solid #000;
	background-color: #595AB3;
	color: white;
	}
.profileimage{
	width:5%;
	float:left;
	margin-left:85%;
	padding: 10px 0px 0px 0px;
	margin-bottom: 0px;
	border:0px;
	overflow: auto;
	display: inline;
}
.profileimage img{
	width:100%;
	height:auto;
	border-radius:45%;
}
.alink{
	text-decoration: none;
	color: white;
}
a:hover{
	color: black;
}

#mform
{
	height:100%;
	width:100%;
	background-color: #989898;
	opacity: .95;
	top: 0;
	left: 0;
	display: none;
	position: fixed;
	overflow: auto;
}
#mform input{
	width:80%;
	margin-bottom: 10px;
	margin-top:5px;
}
#mform label{
	font:bold 16px Calibri;
	color: white;
}/*
#mform input[type=submit]{
	color:#000;
	
	border:none;
	
	
	*/
}
#mform p{
	color: white;
	font:bold 20px Calibri;
	text-align: center;
	text-shadow: 2px 2px #000;
	text-decoration: underline;
	text-underline-position: under;
}
form img {
	margin-left: 255px;
	margin-top: 5px;
	cursor: pointer;
}
h2{
	margin-left:20%;
	font:bold 20px Calibri;
	text-shadow: 2px 2px black;
	text-decoration: underline;
	text-underline-position: under;
	color:white;
	margin-top: 10px;
}
div #abc{
	position: absolute;
	border:2px #fff solid;
	margin-left: 37%;
	margin-top: 7%;
	border-radius: 10px;
	background-color:  #595AB3;
	width:300px;
}
.submit{
	text-decoration: none;
	width: 100%;
	text-align:center;
	background-color: #989898;
	color:#000;
	border:2px white solid;
	font:bold 20px Calibri;
	cursor: pointer;
	border-radius: 5px;
	color:black;
	text-shadow:1px 1px white;
	}
	@-webkit-keyframes popup{
  16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px)
  }

  33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px)
  }

  49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px)
  }

  66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px)
  }

  83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px)
  }

  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}

@keyframes popup{
  16.65% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px)
  }

  33.3% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px)
  }

  49.95% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px)
  }

  66.6% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px)
  }

  83.25% {
      -webkit-transform: translateY(1px);
      transform: translateY(1px)
  }

  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

